<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Historique des Parties - Puissance 4</title>
    <link rel="stylesheet" href="../static/css/histo.css" />
  </head>
  <body>
    <div class="overlay">
      <h1>Historique des Parties</h1>

      <div class="history-box">
        
        <div class="line">✅ Joueur Rouge a gagné — 28/10/2025 17:45</div>
        <div class="line">✅ Joueur Jaune a gagné — 28/10/2025 17:32</div>
        <div class="line">✅ Joueur Rouge a gagné — 28/10/2025 17:21</div>
      </div>

      <form action="/clear-history" method="post">
        <button type="submit" class="clear-btn">Effacer l'historique</button>
      </form>

      <a href="../template/menu.html" class="back-link">⬅ Retour au menu</a>
    </div>
  </body>
</html>
