<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Power Menu</title>
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <img
      class="background"
      src="../static/image/fond_bleu_home.png"
      alt="background"
    />

    <div class="gauche">
      <svg width="1000" height="2000">
        <mask id="holes">
          <rect width="27vw" height="100vh" fill="white" />
          <circle cx="12.6vh" cy="7.63875vw" r="4vw" fill="black" />
          <circle cx="37.905vh" cy="7.63875vw" r="4vw" fill="black" />
          <circle cx="12.6vh" cy="19.09719vw" r="4vw" fill="black" />
          <circle cx="37.905vh" cy="19.09719vw" r="4vw" fill="black" />
          <circle cx="12.6vh" cy="30.6243vw" r="4vw" fill="black" />
          <circle cx="37.905vh" cy="30.6243vw" r="4vw" fill="black" />
          <circle cx="12.6vh" cy="42vw" r="4vw" fill="black" />
          <circle cx="37.905vh" cy="42vw" r="4vw" fill="black" />
        </mask>

        <rect class="tableau" width="1000" height="2000" mask="url(#holes)" />
      </svg>
    </div>

    <div class="droite">
      <img
        class="logo"
        src="../static/image/power4-logo-white.svg"
        alt="logo"
      />
      <img class="gear" src="../static/icon/icons8-menu.svg" alt="gear" />
    </div>
  </body>
</html>
