<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Power Menu</title>
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <div class="gauche">
      <div class="sidebar">
        <div class="btn">Menu</div>
        <div class="btn">Play</div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
      </div>
    </div>

    <div class="droite">
      <img src="../static/image/power4-logo.png" alt="logo" />
      <div class="gear">⚙️</div>
    </div>
  </body>
</html>
