<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Power Menu</title>
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <img
      class="background"
      src="../static/image/fond_bleu_home.png"
      alt="background"
    />
    <div class="gauche">
      <svg width="1000" height="2000">
        <!-- Masque : noir = transparent, blanc = visible -->
        <mask id="holes">
          <rect width="380" height="780" fill="white" />
          <circle cx="95" cy="95" r="25" fill="black" />
          <circle cx="120" cy="40" r="25" fill="black" />
          <circle cx="40" cy="100" r="25" fill="black" />
          <circle cx="120" cy="100" r="25" fill="black" />
          <circle cx="40" cy="160" r="25" fill="black" />
          <circle cx="120" cy="160" r="25" fill="black" />
          <circle cx="40" cy="220" r="25" fill="black" />
          <circle cx="120" cy="220" r="25" fill="black" />
        </mask>

        <!-- Plateau bleu avec masque -->
        <rect
          width="1000"
          height="2000"
          rx="10"
          ry="10"
          fill="#0a4d91"
          mask="url(#holes)"
        />
      </svg>
    </div>

    <div class="droite">
      <img
        class="logo"
        src="../static/image/power4-logo-white.svg"
        alt="logo"
      />
      <img class="gear" src="../static/icon/icons8-menu.svg" alt="gear" />
    </div>
  </body>
</html>
