<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/puissance4.css">
  <title>Mode : 1vs1</title>
</head>
<body>
  <div class="Pseudo">
   <p class="joueur-1">Joueur 1</p>
   <p class="Joueur-2">Joueur 2</p>
  </div>
  <div class="Puissance 4">
    <div class="grille">
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>

      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>

      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>

      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
 
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>

      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
      <div class="trou"></div>
    </div>
</div>
</body>
</html>