<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/puissance4.css">
  <title>Mode : 1vs1</title>
</head>
<body>
<div class="puissance4" style="display:flex; justify-content:center; align-items:center; height:80vh;">
  <svg viewBox="0 0 675 575" preserveAspectRatio="xMidYMid meet" style="width:900; height:900;">
    <defs>
   
      <pattern id="plateauImage" patternUnits="userSpaceOnUse" width="675" height="575">
        <image href="../static/image/fond_bleu_home.png" width="800" height="575" />
      </pattern>

      <mask id="trous">

        <rect width="675" height="575" fill="white" rx="100" ry="100" />

        <g fill="black">
     
          <circle cx="65" cy="80" r="34" />
          <circle cx="65" cy="163" r="34" />
          <circle cx="65" cy="246" r="34" />
          <circle cx="65" cy="329" r="34" />
          <circle cx="65" cy="412" r="34" />
          <circle cx="65" cy="495" r="34" />

          <circle cx="156" cy="80" r="34" />
          <circle cx="156" cy="163" r="34" />
          <circle cx="156" cy="246" r="34" />
          <circle cx="156" cy="329" r="34" />
          <circle cx="156" cy="412" r="34" />
          <circle cx="156" cy="495" r="34" />

          <circle cx="247" cy="80" r="34" />
          <circle cx="247" cy="163" r="34" />
          <circle cx="247" cy="246" r="34" />
          <circle cx="247" cy="329" r="34" />
          <circle cx="247" cy="412" r="34" />
          <circle cx="247" cy="495" r="34" />

          <circle cx="338" cy="80" r="34" />
          <circle cx="338" cy="163" r="34" />
          <circle cx="338" cy="246" r="34" />
          <circle cx="338" cy="329" r="34" />
          <circle cx="338" cy="412" r="34" />
          <circle cx="338" cy="495" r="34" />
          
          <circle cx="429" cy="80" r="34" />
          <circle cx="429" cy="163" r="34" />
          <circle cx="429" cy="246" r="34" />
          <circle cx="429" cy="329" r="34" />
          <circle cx="429" cy="412" r="34" />
          <circle cx="429" cy="495" r="34" />

          <circle cx="520" cy="80" r="34" />
          <circle cx="520" cy="163" r="34" />
          <circle cx="520" cy="246" r="34" />
          <circle cx="520" cy="329" r="34" />
          <circle cx="520" cy="412" r="34" />
          <circle cx="520" cy="495" r="34" />

          <circle cx="610" cy="80" r="34" /> 
          <circle cx="610" cy="163" r="34" />
          <circle cx="610" cy="246" r="34" />
          <circle cx="610" cy="329" r="34" />
          <circle cx="610" cy="412" r="34" />
          <circle cx="610" cy="495" r="34" />
        </g>
      </mask>
    </defs>

    <rect width="675" height="575" fill="url(#plateauImage)" mask="url(#trous)" rx="80" ry="80" />
  </svg>
<input type="submit"> 
</div>
</body>
</html>