body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
}

.sidebar {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-template-rows: repeat(4, 160px);
  gap: 22px;
  padding: 20px;
  border-right: 3px solid rgb(0, 0, 0);
  box-sizing: border-box;
  position: relative;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  background: #fafafa;
}

.btn:hover {
  background-color: #e0e0e0;
}

.gear {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 7vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.logo {
  position: absolute;
  width: 60vw;
  top: -50px;
  right: 100px;
  cursor: pointer;
  transition: 0.2s;
}
