body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
}

.sidebar {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 22px;
  width: 9vw;
  height: 100vh;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  background: #fafafa;
}

.btn:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.gear {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
