.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.gauche {
  flex: 1;
  align-items: center;
  justify-content: center;
}
/* Panneau droit */
.droite {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  width: 45vw;
  top: 10vh;
  right: 10vw;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 15px #fedb18);
}

.gear {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gear:hover {
  transform: rotate(180deg) scale(1.2);
  filter: drop-shadow(0 0 6px #38bdf8);
}
